@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-button {
    display: inline-block;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .menu-button.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .menu-button.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-button.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .CatBig{
    scale: 3.0;
  }
  